h1 {
    background: blueviolet;
    color: beige;
}
p {
    background: darkgreen;
    color: darkorange;
}
h2 {
    background: maroon;
    color: yellow;
}
ul {
    background: cadetblue;
    color: firebrick;
}
