.main {
    box-sizing: border-box;
    width: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayFlex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
    height: 60px;
    background: #676767;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.number {
    color: red;
}

.header {
    width: 500px;
    height: 60px;
    background: #676767;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav {
    width: 100px;
    height: 240px;
    background: #676767;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.storeLocator {
    width: 100px;
    height: 60px;
    background: #676767;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.tools {
    width: 100px;
    height: 56px;
    background: #676767;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.bath {
    width: 396px;
    height: 120px;
    background: #676767;
    border: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.typeBath {
    width: 396px;
    height: 240px;
    background: #676767;
    border: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.ad {
    width: 100px;
    height: 120px;
    background: #676767;
    border: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}

.products {
    width: 100px;
    height: 240px;
    background: #676767;
    border: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.footer {
    width: 606px;
    height: 120px;
    background: #676767;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
}

@media screen and (min-width: 576px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        margin: 10px;
    }
    .main {
    box-sizing: border-box;
}
    .header {
    width: 200px;
    border-left: 1px solid;
}
    .logo {
        border-right: 1px solid;
    }
    .nav {
        width: 302px;
        height: 60px;
        border-right: none;
        position: relative;
        left: 306px;
    }
    .bath {
        width: 200px;
        margin-top: 64px;
        position: relative;
        right: -2px;
    }
    .ad {
        width: 96px;
        margin-top: 64px;
        position: relative;
        right: 98px;
    }
    .typeBath {
        width: 302px;
        position: relative;
        right: -2px;
    }
    .products {
        width: 302px;
        height: 120px;
        position: relative;
        top: 244px;
        right: 304px;
    }
    .storeLocator {
        width: 150px;
        position: relative;
        top: 490px;
        left: 305px;
    }
    .tools {
        width: 150px;
        height: 60px;
        position: relative;
        top: 426px;
        left: 458px;
    }
    .footer {
        width: 304px;
        position: relative;
        top: 186px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

}